.mainUs{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &__container{
        display: flex;
        align-items: center;
        gap: 14vw;
        justify-content: flex-start;
        padding-left: 10vh;
    }
    &__content{
        width: 50%;
        display: flex;
        flex-direction: column;
        h2{
         font-size: 3.5rem;
         color: #6ebe4a;
        }
        p{
            color: white;
        }
    }
    &__stepper{
        display: flex;
        flex-direction: column;
        padding: 0px 20px;
        gap: 50px;
        button{
            background-color: transparent;
            font-size: 2.5rem;
            border: 0px;
            font-family: 'Mulish', sans-serif;
            color: white;
           &:hover{
            color: #6ebe4a;;
           }
        }
    }
}


.backgroundUs{
    background-image: url('https://res.cloudinary.com/dgnwqr93n/image/upload/v1688679819/Untitled_design_2_vt8pcd.png');
    // background-color: #6ebe4a;
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;

}
.backgroundUs::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.436);
}

.bird{
    figure{
        position: absolute;
        height: 10vh;
        top: 0;
        right: 0;
        img{
            height: 89vh;
            margin-top: 10vh;
        }
   }
   
   
    }