
$checkColor: rgb(230, 230, 230);
$pColor: rgb(217, 217, 217);

.form{
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h1{
        margin-bottom: 25px;
        color: white;
        font-family: "Mulish", sans-serif;
    }

    &__all{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__all__reverse{
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__information{
        display: flex;
        flex-direction: column;
        width: 400px;
        margin: 15px 30px;

        p{
            color: $pColor;
            font-size: 18px;
            margin-top: 15px;
            font-family: "Mulish", sans-serif;
        }
    }

    &__imagen__div{
        width: 400px;
        overflow: hidden;
        img{
            width: 100%;
            border-radius: 12px;
            object-fit: fill;
        }
    }

    &__parraf_div{
        display: flex;
        flex-direction: column;
    }

    &__list{
        font-size: 18px;
        margin-left: 10px;
        margin-top: 20px;
        color: $pColor;
        font-family: "Mulish", sans-serif;
        list-style: none;

        li::before {
            content: "•"; color: var(--primaryColor);
            margin-right: 10px;
        }
    }
}

