@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

$primary-color: #535353;
$secondary-color: rgb(110, 190, 74);

// Define un mixin para las propiedades comunes de los contenedores
@mixin container-styles($left, $bottom) {
  color: black;
  transition: 0.5s;
  padding: 5px;
  // position: absolute;
  left: $left;
  bottom: $bottom;
  font-family: "Mulish", sans-serif;
  background: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 270px;
  height: 100px;
  border-radius: 3px;
  overflow: hidden;
  transition: height 0.3s;

  &.see {
    height: auto;
  }

  .title {
    margin-bottom: 5px;
    font-weight: bold;
    @media screen and (max-width: 1050px) {
      font-size: 14px;
    }
    @media screen and (max-width: 930px) {
      font-size: 13px;
    }
  }

  .contentText {
    font-size: 12px;
    line-height: 16px;
    margin-bottom: 5px;
  }

  .listContent {
    font-size: 12px;
    list-style-type: none;
    padding-left: 1em;
    .listItem {
      position: relative;
      margin-bottom: 0.5em;
      .listDot {
        position: absolute;
        top: 0.4em;
        left: -1em;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #6ebe4a;
      }
    }
  }
}

.content {
  width: 100vw;
  display: flex;
  flex-direction: column;
  transition: 0.5s;

  &__img-Ambiental {
    position: relative;
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Mulish", sans-serif;

    .content-Ambiental {
      background: rgba(255, 255, 255, 0.7);
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px);
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      max-width: 500px;
      position: relative;
      top: 20%;
      width: 50%;
      color: #000;
      font-size: 24px;
      text-align: left;
      word-wrap: break-word;
      overflow: hidden;
      @media screen and (max-width: 870px) {
        top: 15%;
      }

      h2 {
        font-weight: 600;
        font-size: 36px;
        color: $primary-color;
        line-height: 49px;
        margin-top: 0;
        @media screen and (max-width: 870px) {
          font-size: 33px;
        }
        @media screen and (max-width: 775px) {
          font-size: 30px;
        }

        span {
          font-family: "Dancing Script", cursive;
          font-size: 103px;
          line-height: 123px;
          color: $primary-color;
          font-weight: 400;
          @media screen and (max-width: 870px) {
            font-size: 90px;
          }
          @media screen and (max-width: 775px) {
            font-size: 80px;
          }
        }
      }

      h3 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 5px;
        color: $secondary-color;
      }

      p {
        font-size: 18px;
        margin: 0 0 10px;
        line-height: 1.2;
      }
    }

    .containerGestionAmbiental {
      @include container-styles(48%, 60%);
    }

    .containerGestionAmbiental2 {
      @include container-styles(48%, 40%);
      .listContent {
        .listItem {
          .listDot {
            background-color: $secondary-color;
          }
        }
      }
    }

    .containerGestionAmbiental3 {
      @include container-styles(70%, 60%);
    }

    .containerGestionAmbiental4 {
      @include container-styles(70%, 40%);
      .listContent {
        .listItem {
          .listDot {
            background-color: $secondary-color;
          }
        }
      }
    }
  }
}

.contentnone {
  display: none;

  @media screen and (max-width: 740px) {
    .content {
      &__img-Ambiental {
        display: none;
      }
    }

    .contentnone {
      width: 100%;
      height: 100vh;
      transition: 0.5s;
      display: block;
      font-family: "Mulish", sans-serif;
      flex-direction: column;

      .contentnone__img {
        width: 100%;
        height: 100vh;
        background-size: cover;
        background-position: center;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          transform: scale(1.01);
          transition: 0.5s;
          &::before {
            filter: blur(5px);
          }
        }

        &::before {
          content: "";
          position: absolute;
          top: 0px;
          right: 0px;
          bottom: 0px;
          left: 0px;
          background-color: rgba(0, 0, 0, 0.25);
          backdrop-filter: blur(1px);
        }

        .textAmbiental {
          background-color: rgba(255, 255, 255, 0.7);
          padding: 20px;
          border-radius: 8px;
          backdrop-filter: blur(0.8px);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          max-width: 500px;
          color: #000;
          overflow: hidden;
          position: relative;

          h2 {
            font-size: 20px;
            color: $primary-color;

            span {
              font-family: "Dancing Script", cursive;
              font-size: 30px;
              color: $primary-color;
            }
          }

          h3 {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 5px;
            color: $secondary-color;
          }

          p {
            font-size: 18px;
            line-height: 0.9;
            text-align: center;
          }
        }

        .containerGestionAmbiental {
          @include container-styles(-30%, 30%);
        }

        .containerGestionAmbiental2 {
          @include container-styles(-30%, 10%);
          .listContent {
            .listItem {
              .listDot {
                background-color: $secondary-color;
              }
            }
          }
        }

        .containerGestionAmbiental3 {
          @include container-styles(-20%, 30%);
        }

        .containerGestionAmbiental4 {
          @include container-styles(-20%, 10%);
          .listContent {
            .listItem {
              .listDot {
                background-color: $secondary-color;
              }
            }
          }
        }
      }
    }
  }
}

.cardsContent-Env{
  transition: 0.5s;
  padding: 5px;
  position: absolute;
  right: 10vw;
  top: 30vh;

  width: 45%;
  /* height: 100px; */
  border-radius: 3px;
  overflow: hidden;
  transition: height 0.3s;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}