.mainNav{
    position: absolute;
    width: 100vw;
    z-index: 2;
    padding-top: 20px;
    // background-color: transparent;
   &__nav{
       margin: 0;
       padding: 0;
       overflow: hidden;
       background-color: transparent;
       ul{
           display: flex;
           list-style-type: none;
           align-items: center;
           justify-content: space-evenly;
           color: white;
           font-weight: 600;
           font-family: 'Mulish', sans-serif;
           a{
            text-decoration: none;
            color: white;
           }
           
        }
        img{
            width: 200px;
        }
    }
}

.active {
    //  border-bottom: 2px solid white;

    
  }

.bg-green{
    background-color: #6ebe4a;
}