.mainSquareCard {
    // height: 60vh;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 20px;
    
    align-items: center;
    &__title {
      font-size: 16px;
      font-weight: 700;
      color: #535353;
      font-family: 'Mulish', sans-serif;
    }
    &__text {
      font-size: 14px;
      font-weight: 400;
      font-family: 'Mulish', sans-serif;
      height: 125px;
      overflow: auto;
      color: #535353;
      overflow: hidden;
    }
    &__img {
      z-index: 2;
      figure {
        img {
          border-radius: 20px 20px 0 0;
          width: 275px;
          height: 170px;
          object-fit: cover;
          border: 2.5px solid transparent;
          border-radius: 2px solid #ebf;
        }
      }
    }
    &__content {
      background-color: white;
      height: 280px;
      transform: translateY(-80px);
      z-index: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      width: 270px;
      padding: 5px 20px 10px 20px;
      gap: 5px;
      justify-content: flex-end;
    }
    &__gestion{
      h2{
          color: white;
          font-family: 'Mulish', sans-serif;
      }
    }
    &__buttons{
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: flex-end;
      gap: 5px;
      // button{
      //   background-color: #47b94972;
      //   border: 0;
      //   border-radius: 5px;
      //   height: 30px;
      //   width: 30px;
      //   display: flex;
      //   align-items: center;
      //   justify-content: center;

      // }
      
    }
    &__view{
     
      background-color: #47b94972;
      border: 0;
      border-radius: 5px;
      height: 30px;
      width: 30px;
      display: flex;
      align-items: center;
      justify-content: center;

    
  }
    &__share{
     
        background-color: #4799b972;
        border: 0;
        border-radius: 5px;
        height: 30px;
        width: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

      
    }
  }
  