.mainNews{
    &__title{
        font-family: 'Mulish', sans-serif;
        h2{
            font-size: 3rem;
            color: white;
            font-family: 'Mulish', sans-serif;
        }
        span{
            font-size: 14px;
            color: #777779;
            font-family: 'Mulish', sans-serif;
        }
   
    }
    &__container{
        display: flex;
        flex-direction: column;
        height: 60vh;
        align-items: center;
    justify-content: center;
    position: relative;
    }
    &__cards{
        height: 50vh;
        display: flex;
        flex-direction: row;
        width: 90vw;
        align-items: center;
        justify-content: center;
        transform: translateY(90px);
    }
}

.background-4{
    background-image: url('https://res.cloudinary.com/dgnwqr93n/image/upload/v1688430170/269982243_4667892963329024_8717849781660201760_n_drq3uv.jpg');
    // background-color: #6ebe4a;
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}
.background-4::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.396);
}
.texto{
    font-size: 1rem;
    color: #eee;
}