@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
html {
    --cursor-color: #fff;
    scroll-behavior: smooth;
    
    
  }
  
  html.dark-mode {
    --cursor-color: #fff
  }


  body {
    --primaryColor: #6EBE4A;
  }

  .privacy-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primaryColor); // Usando el color morado definido
    z-index: 2;
    transition: background-color 0.5s ease; // Agrega la transición para el background-color
  }
  
  .css-1dyuqpd {
    height: 0 !important;
  
  }
  .css-4reedn-MuiSpeedDial-root {
   bottom: 20px !important;
    left: -90% !important;
    display: flex;

  }
  .MuiFab-root {
    background-color:  var(--primaryColor) !important;
    color: #fff !important;
    font-size: 1.5rem !important;
  }
  .MuiSpeedDialIcon-root{
    display: flex;
  }

  .social-media-fixed {
    position: fixed;
    bottom: 0px;
    left: 50px;
    z-index: 9999;
  }
  

  //***********************swiper***********************************

  // .swiper {
  //   width: 100%;
  //   height: 100%;
  // }
  
  // .swiper-slide {
  //   text-align: center;
  //   font-size: 18px;
  //   background: red;
  //   color: #6EBE4A;
  
  //   /* Center slide text vertically */
  //   display: flex;
  //   justify-content: center;
  //   align-items: center;
  // }
  
  // .swiper-slide img {
  //   display: block;
  //   width: 100%;
  //   height: 100%;
  //   object-fit: cover;
  // }

  

  .slider-wrap {
    height: 500px;
    width: 100%;
  }
  .slider-wrap .slider {
    position: absolute;
    width: 100%;
    left: 50px;
    top: 250px;
  }
  
  .slide-content {
    position: relative;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;

    color: #6EBE4A;

}

  .slider-item {
    width: 530px;
    padding: 20px 0 25px 30px;
    border-radius: 10px;
    background-color: #4A7C59;
    display: flex;
    justify-content: flex-start;
    position: absolute;
    opacity: 0;
    z-index: 0;
    box-shadow: 0 4px 9px #f1f1f4;
    position: absolute;
    left: 0;
    top: 0;
  }
  .slider-item .animation-card_image {
    max-width: 60px;
    max-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 0 4px 9px rgba(241, 241, 244, 0.72);
    background-color: red;
  }
  .slider-item .animation-card_image img {
    width: 53px;
    height: 53px;
    border-radius: 50%;
    object-fit: cover;
  }
  .slider-item .animation-card_content {
    width: 100%;
    max-width: 374px;
    margin-left: 26px;
    /* font-family: "Open Sans", sans-serif; */
  }
  .slider-item .animation-card_content .animation-card_content_title {
    color: #4a4545;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.18px;
    line-height: 24px;
    margin: 0;
  }
  .slider-item .animation-card_content .animation-card_content_description {
    color: #696d74;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: normal;
    line-height: 24px;
    margin: 10px 0 0 0;
  }
  .slider-item .animation-card_content .animation-card_content_city {
    font-size: 11px;
    margin: 10px 0 0 0;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #696d74;
  }
  


.ball {
  fill: #6EBE4A;
}
.header-section {
  margin-left: 3rem;
}

