.btn__quantity {
    height: 120px;
    width: 300px;
    border: none;
    cursor: pointer;
    background-color: #777779;
    color: #FFF;
    border-radius: 80px;
    outline: none;
    margin: 0;
    padding: 0 2rem 0 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2.5rem;
    // box-shadow: 0px 40px 80px 0px rgba(0, 0, 0, 0.05),
    //     inset 0px -10px 20px 0px rgba(0, 0, 0, 0.05),
    //     0px 10px 20px 0px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 1px 0px hsl(90, 100%, 40%),
        0px 2px 0px hsl(90, 100%, 38%),
        0px 3px 0px hsl(90, 100%, 37%),
        0px 4px 0px hsl(90, 100%, 36%),
        0px 5px 0px hsl(90, 100%, 35%),
        0px 6px 0px hsl(90, 100%, 34%),
        0px 7px 0px hsl(90, 100%, 33%),
        0px 8px 0px hsl(90, 100%, 32%),
        0px 9px 0px hsl(90, 100%, 31%),
        0px 10px 0px hsl(90, 100%, 20%),
        0px 11px 10px #6EBE4A;

    .gif-container {
        display: inline-block;
        width: 80px;
        height: 80px;
        background-image: url('https://res.cloudinary.com/dd8l8bm6q/image/upload/v1688167470/ayapel/xhwaslf4c5sm8r6snozb.gif');
        background-size: cover;
        background-position: center;
    }

    &__value {
        width: 80px;
        height: 80px;
    }

    --initial-height: 120px;
    --initial-width: 300px;
    --active-height: calc(var(--initial-height) - 5px);
    --active-width: var(--initial-width);
    transition: box-shadow 0.3s,
    transform 0.3s;
}

.btn__quantity.active {
    background-color: #6EBE4A;
    // box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.1),
    //     inset 0px -5px 10px 0px rgba(0, 0, 0, 0.1),
    //     0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 0px hsl(0, 0%, 46%), /* Change the blue color to gray */
    0px 2px 0px hsl(0, 0%, 48%), /* Change the blue color to gray */
    0px 3px 0px hsl(0, 0%, 49%), /* Change the blue color to gray */
    0px 4px 0px hsl(0, 0%, 50%), /* Change the blue color to gray */
    0px 5px 0px hsl(0, 0%, 51%), /* Change the blue color to gray */
    0px 6px 0px hsl(0, 0%, 52%), /* Change the blue color to gray */
    0px 7px 0px hsl(0, 0%, 53%), /* Change the blue color to gray */
    0px 8px 0px hsl(0, 0%, 54%), /* Change the blue color to gray */
    0px 9px 0px hsl(0, 0%, 55%), /* Change the blue color to gray */
    0px 10px 0px hsl(0, 0%, 88%), /* Change the blue color to gray */
    0px 11px 10px #777779;
    transform: translateY(5px) scale(1.25);
    height: var(--active-height);
    width: var(--active-width);

}